<div class="landing">
  <div class="land text-center">
    <p>Explore Nature</p>
  </div>
</div>

<div class="container">
  <div class="jumbotron">
   <h1>Parks Lists</h1>
  </div>
</div>



<div class="parks container">
  <div class="park_new">
    <%= link_to 'New', new_campground_path, :class => "btn btn-primary" %>
  </div>

  <div class="park row">
    <% @campgrounds.each do |camp| %>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-img-top">
                    <%= image_tag camp.picture, width: '100%', height: 200 %>
                </div>
                <div class="card-body">
                    <h6 class="card-title text-center"><%= camp.name %></h6>
                    <p class="card_subtitle text-center">
                      <%= camp.address %> <%= camp.city %> <%= camp.state %> <%= camp.country %>
                    </p>
                    <div class="card-text">
                        <p><%= camp.description %></p>
                    </div>
                    <div>
                        <%= link_to '', edit_campground_path(camp), :class => "fas fa-pen-nib fa-xm" %> |
                        <%= link_to '', campground_path(camp), :class => "fas fa-search fa-xm" %>
                    </div>
                </div>
            </div>
         </div>
    <% end %>
  </div>
</div>