<%= form_for @campsite do |f| %>
    <div>
        <%= f.text_field :name, placeholder: 'Name' %>
    </div>
    <div>
        <%= f.text_field :picture, placeholder: 'Picture' %>
    </div>
    <div>
        <%= f.text_field :location, placeholder: 'Location' %>
    </div>
    <div>
        <%= f.text_area :description, placeholder: 'Description' %>
    </div>
    <div>
        <%= f.select :park_id, options_from_collection_for_select(@parks, :id, :name) %>
    </div>

    <div>
        <%= f.submit 'Save' %>
    </div>
<% end %>