<%= link_to 'Campsites', campsites_path %>

<div class="jumbotron">
    <div>
        <%= image_tag @campsite.picture %>
    </div>
    <div>
        <%= @campsite.name %>
    </div>
</div>

<%= link_to 'Review', new_review_path %>

<div class="row">
    <% @campsite.reviews.each do |review| %>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-img-top">
                    <%= image_tag review.picture, width: '100%' %>
                </div>
                <div class="card-body">
                    <h6 class="card-title text-center">User: <%= review.user.email %></h6>
                    
                    <div class="card-text">
                        <p><%= review.comment %></p>
                    </div>
                </div>
            </div>
         </div>
    <% end %>
</div>





