<div class="jumbotron">
    <h1><%= @film.title %></h1>
    <br>
    <h4><%= link_to 'Home', root_path, {:class => 'btn btn-primary'} %></h4>
</div>

<div class="container">
    <h3>Viewers</h3>
</div>

<div class="container">
<div class='row'>
<% @film.users.each do |user| %>
    <div class="col-sm-12 col-md-4 col-lg-2 content">
        <img src="<%= user.picture %>" width="150", height="200">
        <h5><%= user.first_name %> <%= user.last_name %></h5>
    </div>
<% end %>
</div>
</div>