<div>
   <img src="<%= @user.picture %>" width="100", height="100"> 
</div>
<div>
    <h3><%= @user.first_name %> <%= @user.last_name %></h3>
</div>


<%= form_tag '/users/add_film' do %>
    <%= hidden_field_tag 'user_id', @user.id %>
    <%= select_tag 'film_id', options_from_collection_for_select(@films, :id, :title) %>
    <%= submit_tag 'Add' %>
<% end %>

<h2>Watched Movie</h2>
<% @user.places.each do |place| %>
    <div>
        <h5><%= place.name %></h5>
        <img src="<%= place.picture %>" width="100" height="100">
    </div>
<% end %>
