<%= form_for @review do |f| %>
    <div>
        <%= f.text_field :picture, placeholder: 'Picture' %>
    </div>
    <div>
        <%= f.text_field :date, placeholder: 'Date' %>
    </div>
    <div>
        <%= f.text_area :comment, placeholder: 'Comment' %>
    </div>
    <div>
        <%= f.select :campsite_id, options_from_collection_for_select(@campsites, :id, :name) %>
    </div>
    <div>
        <%= f.submit 'Save' %>
    </div>
  
<% end %>