<!DOCTYPE html>
<html>
  <head>
    <title>ContactsRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700" rel="stylesheet">
    <style>
      h1 {
        text-align:center;
      }
      table {
        margin-top: 20px;
      }
      .btn {
        margin-left: 5px;
      }
      body {
        font-family: 'Ubuntu', sans-serif;
      }

    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
