<div class="form container">
  
<div class="form_area jumbotron">
  <p>FORM</p>
</div>

<div class="jumbotron">
<%= form_for @activity do |f| %>
    <div class="form-group">
        <%= f.text_field :picture, placeholder: 'Picture', :class => "form-control" %>
    </div>
    <div class="form-group">
        <%= f.text_field :name, placeholder: 'Name', :class => "form-control" %>
    </div>
    <div class="form-group">
        <%= f.text_field :instrutor, placeholder: 'Instructor', :class => "form-control" %>
    </div>
    <div class="form-group">
        <%= f.text_field :time, placeholder: 'Time', :class => "form-control"  %> 
    </div>
    <div class="form-group">
        <%= f.text_field :price, placeholder: 'Price', :class => "form-control" %>
    </div>
    <div class="form-group">
        <%= f.text_field :description, placeholder: 'Description', :class => "form-control" %>
    </div>
    <div class="form-group">
        <%=  f.select :campground_id, options_from_collection_for_select(@campgrounds, :id, :name), :class => "form-control" %>
    </div>
    <div class="form-group">
        <%= f.submit 'Save', :class => "btn btn-primary form-control" %>
    </div>
<% end %>
</div>